.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.logo-title {
  display: grid;
  align-items: center;
  margin-top: 15%;
  grid-template-columns: [line1] 600px;
  grid-template-rows: [row-line1] 400px [row-line2] 50px [row-line3] 80px;
  animation: slideIn 1.5s ease-in forwards;
}

.landing-logo {
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
}

.lucy-grein {
  font-size: 6em;
  z-index: 3;
  grid-row-start: row-line2;
  grid-row-end: row-line3;
  grid-column-start: line1;
  margin: 0;
  margin-right: 60px;
}


.parent-consultant {
  font-family: var(--montserrat);
  font-size: 2em;
  margin: 0;
  margin-right: 60px;
  z-index: 3;
}

.buttons {
  float: right;
}

.buttons button {
  display: flex;
  flex-direction: column;
  background: none;
  margin: 30px;
  /* grid-column-start: 1;
  grid-column-end: 5; */
  font-family: var(--montserrat);
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(16%);
  }
}