.intro-pic {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10%;
  margin-bottom: 1%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.intro-title {
  color: var(--yellow);

}

.pic-and-circle {
  display: grid;
  grid-template-columns: [line1] 15px [line2]400px [line3] 20px;
  grid-template-rows: [row-line1] 15px [row-line2] 400px;
}

.fall-creek-img {
  grid-column-start: line1;
  grid-column-end: line3;
  grid-row-start: row-line1;
  grid-row-end: row;
  border-radius: 50%;
  width: 40%;
  height: 40%;
}

.circle {
  background-color: var(--purple);
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


.middle {
  background-color: var(--cool-purple);
  color: white;
  text-align: center;
  font-size: 24px;
  display: block;
  padding: 1px;
  width: 75%;
  margin: 2% auto;
}

.journey {
  margin: 10%;
}

.journey-title {
  color: var(--yellow);
}