@font-face {
  font-family: 'Karsten';
  src: url('../../assets/fonts/Karsten.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-VariableFont_wght.ttf')
}

@font-face {
  font-family: 'Palatino';
  src: url('../../assets/fonts/Palatino.ttf')
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  --orange: #fbe5d4;
  --green: #eaefd7;
  --purple: #e7e6fc;
  --pink: #f9e8fb;
  --lightBlue: #d3eaff;
  --yellow: #eac3359f;
  --darkBlue: #bed4f8;
  --cool-purple: #646cffaa;
  --background: snow;

  --karsten: "Karsten";
  --montserrat: "Montserrat", monospace;
  --palatino: "Palatino", monospace;

  color-scheme: light dark;
  color: var(--background);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.navbar-menu {
  margin-left: auto;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--purple);
  color: white;
  position: fixed;
  bottom: 0;
  padding: 10px;
  /* margin: 0; */
  margin-top: 10%;
  z-index: 7;
  font-size: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
