.top-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40%;
  height: 90%;
  margin: 10% 7%;
  margin-bottom: 0;
}

#title {
  z-index: 2;
  font-size: 60px;
  font-family: var(--karsten);
  background-color: var(--pink);
  grid-area: 1 / 4 / 1 / 8;
  margin-top: 50px;
  height: 15%;
  padding: 5% 0;
  vertical-align: middle;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-div img {
  z-index: 1;
  width: 100%;
  grid-area: 1 / 1 / 1 / 5;
  border: 20px solid var(--green);
  margin: 0;
}

.blank {
  height: 30%;
  width: 140%;
  border-radius: 20px;
  background-color: var(--yellow);
  grid-area: 1 / 1 / 1 / 7;
  margin-top: 20%;
}

#intro {
  background-color: var(--yellow);
  border-radius: 20px;
  height: 95%;
  z-index: 2;
  grid-area: 1 / 5 / 2 / 9;
  padding: 15px;
  
  font-family: var(--montserrat);
  margin: 55% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro p {
  font-size: 40px;
  text-align: center;
}


.boxes {
  margin-bottom: 20%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.parent-box {
  display: inline-grid;
  grid-template-columns: [line1] 15px [line2]300px [line3] 20px;
  grid-template-rows: [row-line1] 15px [row-line2] 300px;
}

.parent-box:hover .box1 {
  transition-duration: 0.3s;
  z-index: 5;
}

.quote {
  padding: 16%;
  font-size: 25px;
  font-family: var(--montserrat);
}

.box-title {
  font-family: var(--karsten);
  font-size: 30px;
  font-weight: 300;
}


.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkBlue);
  grid-column-start: line1;
  grid-row-start: row-line1;
  height: 300px;
  width: 300px;
  top: 0;
  left: 0;
  text-decoration: none;
}

.box1:visited {
  color: black;
}


.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  grid-column-start: line2;
  grid-row-start: row-line2;
  height: 300px;
  width: 300px;
  z-index: 3;
}
