.pic {
  width: 30%;
  margin: 7%;
}

.boxes {
  margin-bottom: 20%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.parent-box {
  display: inline-grid;
  grid-template-columns: [line1] 15px [line2]200px [line3] 20px;
  grid-template-rows: [row-line1] 15px [row-line2] 200px;
}

.parent-box:hover .box1 {
  transition-duration: 0.3s;
  z-index: 5;
}

.quote {
  padding: 16%;
  font-size: 16px;
}

.title {
  font-family: var(--karsten);
  padding: 16%;
  font-size: 25px;
  font-weight: 300;
}


.box1 {
  background-color: var(--darkBlue);
  grid-column-start: line1;
  grid-row-start: row-line1;
  height: 200px;
  width: 200px;
  top: 0;
  left: 0;
}

.box2 {
  background-color: var(--lightBlue);
  grid-column-start: line2;
  grid-row-start: row-line2;
  height: 200px;
  width: 200px;
  z-index: 3;
}
