.navbar {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  height: 50px;
  width: 100%;
  position: relative;
  padding: 0;
  margin-top: 4%;
  margin-bottom: 0;
  align-items: center;
  font-family: 'montserrat';
  font-size: 24px;
  background-color: var(--purple);
  padding: 5px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  z-index: 4;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 0;
}

.navbar-link:hover {
  cursor: pointer;
}


.navbar-link:visited {
  color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  position: absolute;
  min-width: 100px;
  z-index: 1;
  padding: 15px;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

#about-menu {
  /* background-color: var(--green); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#services-menu {
  background-color: var(--purple);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#projects-menu {
  background-color: var(--orange);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#contact-menu {
  background-color: var(--pink);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.transition-enter {
  opacity: 0.05;
  transform: translate(0, -100px);
}

.transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-out;
}

.transition-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.transition-exit-active {
  opacity: 0.01;
  transform: translate(0, 10px);
  transform: all 500ms ease-out;
}
