@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 30px;
  align-items: center;
  font-family: 'montserrat';

}

.navbar-link {
  text-decoration: none;
}

.navbar-link:hover {
  cursor: pointer;
}

#about-nav:hover {
  background-color: var(--green);
  transition-duration: 0.8s;
  padding-top: 100px;
  padding-bottom: 10px;
}

#services-nav:hover {
  background-color: var(--purple);
  transition-duration: 0.8s;
  padding-top: 100px;

}

#projects-nav:hover {
  background-color: var(--orange);
  transition-duration: 0.8s;
  padding-top: 100px;
}

#contact-nav:hover {
  background-color: var(--pink);
  transition-duration: 0.8s;
  padding-top: 100px;

}

.navbar-link:visited {
  color:inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--green);
  min-width: 80px;
  z-index: 1;
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

@keyframes slideIn {
  from {
    transform: translateY(-10px); /* Initially hide the content by moving it up */
  }
  to {
    transform: translateY(0); /* Slide the content down on hover */
  }
}