.values-top-div {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5%;
}

.values-title-text {
  display: flex;
  flex-direction: column;
  margin: 8%;
  color: var(--yellow);
}

#values-title {
  font-family: var(--montserrat);
  text-transform: uppercase;
  font-size: 30px;
}

#beach {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 20px solid var(--lightBlue);
}
.core-values-title {
  font-family: var(--montserrat);
  text-transform: uppercase;
  background-color: var(--green);
  width: 80%;
  padding: 1px;
  margin: 0 auto;
  text-align: center;
}

.core-values {
  display: flex;
  justify-content: space-evenly;
}

.core-values div p {
  font-family: var(--palatino);
  font-size: 30px;
}
