.programs-title-intro {
  display: flex;
  flex-direction: column;
}

.programs-top-div {
  display: flex;
  margin: 10%;
  justify-content: flex-start;
}

.programs-title {
  color: var(--yellow);
  font-family: var(--montserrat);
  text-transform: uppercase;
  font-size: 30px;
  margin: 4%;
}

.programs-intro {
  margin: 2%;
}

.lucyLA {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 20px solid var(--pink);
}

.parent-consulting-title {
  background-color: var(--green);
  padding: 10px;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.program-info {
  display: block;
  margin: 0 auto;
}

.program-info p {
  font-family: var(--palatino);
  margin: 0 12%;
  margin-top: 2%;
  font-size: 22px;
}

.emphasis {
  font-family: var(--montserrat);
  font-size: 20px;
  color: var(--cool-purple);
  margin: 2% 10%;
}

ul {
  font-family: var(--palatino);
  margin: 0 15%;
  margin-bottom: 5%;
  font-size: 18px;
}

